{% extends "polls/base.html" %}
{% block tresc %}

<form action="{% url 'polls:vote' pytanie.id %}" method="post">
    {% csrf_token %}
<fieldset>
    <legend><h1>{{ pytanie.tekst_pytania }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for odp in pytanie.odpowiedz_set.all %}
        <input type="radio" name="odpowiedz" value="{{ odp.id }}" id="odp{{ forloop.counter }}">
        <label for="odp{{ forloop.counter }}">{{ odp.tekst_odp }}</label>
        <br>
    {% endfor %}
</fieldset>
    <input type="submit" value="Głosuj">
</form>

{% endblock %}